<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EchoMesh</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/plyr.css' %}" />

    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <!-- navbar -->

    <!-- <nav class="navbar navbar-expand-md bg-white fixed-top nav-shadow"> -->
    <div
      class="d-flex bg-white fixed-top nav-shadow justify-content-between align-items-center px-3 py-0"
    >
      <a href="{% url 'home' %}" class="navbar-brand fs-3 fw-bold"
        ><span class="logo-first-letter">E</span>choMesh<span
          class="logo-first-letter"
          >.</span
        ></a
      >

      <div class="tabs-container">
        <div
          class="tabs d-flex justify-content-between align-items-center gap-5 fs-4"
        >
          <a href="{% url 'home' %}"><i class="fa-solid fa-house-user"></i> </a>
          <a href="" class="tab-active"><i class="fa-solid fa-users"></i></a>
          <a href="{% url 'profile' id=user.id %}"
            ><i class="fa-solid fa-user"></i
          ></a>
        </div>
      </div>

      <div class="d-flex justify-content-end align-items-center">
        <ul
          class="navbar-menu d-flex justify-content-between align-items-center gap-3 mt-3"
        >
          <!-- <li class="nav-item">
            <a
              href="#"
              class="nav-link-custom active p-3 rounded-circle d-flex align-items-center justify-content-center"
            >
              <i class="fa-solid fa-message"></i>
            </a>
          </li> -->
          <li class="nav-item notif-nav-item">
            <a
              class="nav-link-custom notif-btn active p-3 rounded-circle d-flex align-items-center justify-content-center"
            >
              <i class="fa-solid fa-bell"></i>
            </a>
            <div class="notif-count">{{notification_count}}</div>

            <ul class="dropdown-container-notification rounded shadow hide">
              <div
                class="notif-container-header px-3 d-flex justify-content-between align-items-center"
              >
                <h4 class="m-0">Notifications</h4>
                <i class="fa-solid fa-ellipsis"></i>
              </div>
              <ul class="notification-insert px-3"></ul>
            </ul>
          </li>
          <li class="nav-item dropdown-profile">
            <a href="" class="profile-btn">
              <img
                class="nav-link-custom border profile-pic-round rounded-circle d-flex align-items-center justify-content-center"
                src="{{current_user.userprofile.profile_picture}}"
                alt="profie image"
            /></a>
            <ul class="dropdown-container rounded shadow hide-logout">
              <li>
                <a
                  href="{% url 'profile' id=user.id %}"
                  class="dropdown-item d-flex justify-content-between align-items-center"
                >
                  <div>
                    <i class="fa-solid fa-user logout-icon"></i
                    ><span class="ps-2">Profile</span>
                  </div>
                  <!-- <div>></div> -->
                </a>
              </li>
              <li>
                <a
                  href="/logout/"
                  class="dropdown-item d-flex justify-content-between align-items-center"
                >
                  <div>
                    <i class="fa-solid fa-right-from-bracket logout-icon"></i
                    ><span class="ps-2">Logout</span>
                  </div>
                  <!-- <div>></div> -->
                </a>
              </li>
              <!-- <li><a href="#" class="dropdown-item">Item 2</a></li>
                <li><a href="#" class="dropdown-item">Item 3</a></li> -->
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="profile-container bg-white">
      <div class="cover-pic-container-box">
        <div
          class="cover-pic-container"
          style="
            background-image: url({{user.userprofile.cover_picture}});
            background-size: cover;
          "
        ></div>
      </div>

      <div
        class="profile-description-container d-flex justify-content-between align-items-center mt-2"
      >
        <div class="profile-pic-box w-100">
          <div class="row">
            <div class="col-lg-2">
              <div class="profile-pic-contain">
                <img
                  class="profile-page-pic"
                  src="{{user.userprofile.profile_picture}}"
                  alt="profile-pic"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="name-friends ps-3">
                <div class="prof-name">
                  <h2 class="p-0 m-0">
                    {{user.first_name}} {{user.last_name}}
                  </h2>
                </div>
                <div class="friends-count">{{friends_count}} friends</div>
              </div>
            </div>
            <div class="col-lg-4 edit-profile-container">
              <div class="edit-profile">
                <button class="btn btn-secondary edit-profile-btn">
                  Edit Profile
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-devider">
        <hr />
      </div>
      <div class="profile-tabs">
        <ul class="nav nav-pills">
          <li class="nav-item not-active-item">
            <a
              class="nav-link text-dark"
              aria-current="page"
              href="{% url 'profile' id=user.id %}"
              >Posts</a
            >
          </li>
          <li class="nav-item not-active-item">
            <a class="nav-link text-dark" href="{% url 'about' id=user.id %}"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active-tab text-blue"
              href="{% url 'about' id=user.id %}"
              >Friends</a
            >
          </li>
          {% if is_current_user %}
          <li class="nav-item not-active-item">
            <a class="nav-link text-dark" href="{% url 'friendrequest' %}"
              >Friend Requests</a
            >
          </li>
          {% endif %}
          <li class="nav-item not-active-item">
            <a class="nav-link text-dark" href="{% url 'photos' id=user.id %}"
              >Photos</a
            >
          </li>
          <li class="nav-item not-active-item">
            <a class="nav-link text-dark" href="{% url 'videos' id=user.id %}"
              >Videos</a
            >
          </li>
          <li class="nav-item not-active-item">
            <a
              class="nav-link text-dark"
              href="{% url 'savedposts' id=user.id %}"
              >Saved</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="friend-requests-container mt-3 p-3 bg-white rounded">
      <div class="friend-request-header d-flex justify-content-between">
        <div><h6>Friends</h6></div>
        <div></div>
      </div>
      <div class="friend-request-body mt-2">
        <div class="row">
          {% for fr in all_friends %}
          <div class="col-lg-6 mb-3">
            <div
              class="fr-req d-flex justify-content-between align-items-center border rounded p-2"
            >
              <a
                href="{% url 'profile' id=fr.id %}"
                class="text-decoration-none text-dark"
              >
                <div class="d-flex align-items-center gap-2">
                  <div class="">
                    <img
                      class="req-image rounded"
                      src="{{fr.userprofile.profile_picture}}"
                      alt=""
                    />
                  </div>

                  <div>
                    <span>{{fr.first_name}} {{fr.last_name}}</span>
                  </div>
                </div>
              </a>
              <div>
                {% if is_current_user %}
                <a href="{% url 'unfriend' id=fr.id %}" class="btn btn-danger"
                  >Unfriend</a
                >
                {% endif %}
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
    <div class="footer mt-5"></div>
    <div class="body-wrapper-two-edit-profile">
      <div
        class="post-upload-container-edit-profile body-wrapper-two-profile-page-edit-profile bg-white p-3 rounded shadow"
      >
        <div
          class="post-upload-header d-flex justify-content-between align-items-center"
        >
          <div></div>
          <div><h4>Edit</h4></div>
          <div>
            <i class="fa-solid fa-xmark fs-4 close-post-upload-edit"></i>
          </div>
        </div>
        <div><hr /></div>

        <form
          action="{% url 'editprofile' page='about' %}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %}

          <div class="mt-3">
            <p class="fw-bold text-secondary">Profile Picture</p>
            <input
              type="file"
              class="form-control"
              name="profilepicture"
              id="imageInput"
              accept="image/*"
            />
          </div>
          <div class="mt-3">
            <p class="fw-bold text-secondary">Cover Picture</p>
            <input
              type="file"
              class="form-control"
              name="coverpicture"
              id="imageInput"
              accept="image/*"
            />
          </div>
          <div class="mt-3">
            <p class="fw-bold text-secondary">High School</p>
            <input type="text" name="highschool" class="form-control" />
          </div>
          <div class="mt-3">
            <p class="fw-bold text-secondary">High School Passed Year</p>
            <input
              type="number"
              name="highschoolpassed"
              min="1900"
              class="form-control"
            />
          </div>
          <div class="mt-3">
            <p class="fw-bold text-secondary">College</p>
            <input type="text" name="college" class="form-control" />
          </div>
          <div class="mt-3">
            <p class="fw-bold text-secondary">College Passed Year</p>
            <input
              type="number"
              name="collagepassed"
              min="1900"
              class="form-control"
            />
          </div>
          <div class="mt-3">
            <p class="fw-bold text-secondary">City</p>
            <input type="text" name="city" class="form-control" />
          </div>
          <div class="mt-3">
            <p class="fw-bold text-secondary">District</p>
            <input type="text" name="district" class="form-control" />
          </div>
          <div class="mt-3">
            <p class="fw-bold text-secondary">State</p>
            <input type="text" name="state" class="form-control" />
          </div>
          <div class="mt-3">
            <p class="fw-bold text-secondary">Country</p>
            <input type="text" name="country" class="form-control" />
          </div>
          <div class="mt-3">
            <p class="fw-bold text-secondary">Phone</p>
            <input type="number" min="1900" name="phone" class="form-control" />
          </div>
          <div class="mt-3">
            <p class="fw-bold text-secondary">Relationship Status</p>
            <select name="relationship" id="" class="form-control">
              <option value=""></option>
              <option value="Single">Single</option>
              <option value="In a relationship">In a relationship</option>
              <option value="Married">Married</option>
              <option value="Divorced">Divorced</option>
              <option value="Engaged">Engaged</option>
            </select>
          </div>
          <div class="mt-3">
            <p class="fw-bold text-secondary">Gender</p>
            <select name="gender" id="" class="form-control">
              <option value=""></option>
              <option value="Male">Male</option>

              <option value="Female">Female</option>
            </select>
          </div>

          <div class="mt-4 w-100">
            <button class="btn btn-success w-100">Update</button>
          </div>
        </form>
      </div>
    </div>
    <script>
      let csrf_token = "{{csrf_token}}";
    </script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/plyr.js' %}"></script>

    <script>
        let count={{post_count}}
      for (let index = 1; index < parseInt(count)+1; index++) {
        const player = new Plyr(`#player${index}`);
      }
    </script>

    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
